{% extends 'critiques/base.html' %} {% load static %} {% block content %}

<nav class="navbar navbar-fluid-lg bg-light mb-5 fixed-top">
  <!-- conatainer -->
  <div class="container">
    {% if request.user.is_authenticated %}

    <a href="{% url 'profile' %}" class="navbar-user">{{ request.user }}</a>
    {% endif%}
    <a href="{% url 'home'%}" class="navbar-brand">Critique</a>

    <!-- navbar toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
      style="color: white"
    >
      <span class="navbar-toggler-icon dark"></span>
    </button>

    <!-- main div  -->
    <div class="collapse navbar-collapse" id="navmenu">
      <div class="collapse navbar-collapse" id="navmenu">
        <div class="user-name ms-3">{{ request.user }}</div>
      </div>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="#" class="nav-link"></a>
        </li>
      </ul>

      <!-- search form functions -->
      <form class="navbar-form" method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="input-group">
          <input
            type="search"
            id="search"
            class="form-control"
            placeholder="Search..."
            name="searched"
            style="border-radius: 10px; border: solid 1px white"
          />
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-search"
                >
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg
              ></i>
            </button>
          </div>
        </div>
      </form>

      <div class="create me-3 m-2">
        <a href="{% url 'create' %}"
          ><button class="btn btn-primary">Submit Project</button></a
        >
      </div>

      <div class="create me-3 m-2">
        <a href="{% url 'signup' %}"
          ><button class="btn btn-primary">SignUp</button></a
        >
      </div>

      <div class="profile me-2 m-2">
        <a href="{% url 'profile' %}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-user"
          >
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </a>
      </div>

      <div class="update profile me-2 m-2">
        <a href="{% url 'addprofile' %}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-user-plus"
          >
            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
            <circle cx="8.5" cy="7" r="4"></circle>
            <line x1="20" y1="8" x2="20" y2="14"></line>
            <line x1="23" y1="11" x2="17" y2="11"></line>
          </svg>
        </a>
      </div>

      <div class="login me-2 m-2">
        <a href="{% url 'login' %}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-log-in"
          >
            <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path>
            <polyline points="10 17 15 12 10 7"></polyline>
            <line x1="15" y1="12" x2="3" y2="12"></line>
          </svg>
        </a>
      </div>

      <div class="logout m-2">
        <a href="{% url 'logout' %}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-log-out"
          >
            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
            <polyline points="16 17 21 12 16 7"></polyline>
            <line x1="21" y1="12" x2="9" y2="12"></line></svg
        ></a>
      </div>
    </div>
  </div>
</nav>

<div class="landing" id="landing-page"> 
  <h1> Critique </h1>
</div>

<div class="container-fluid">
  <div class="project-title">
    <h1>projects</h1>
    <div class="slideshow-container">
      <div class="mySlides fade">
  
        <img src="{% static  'photos/drill.jpeg' %}" style="width: 100%" />
        <div class="text">this is Critique</div>
      </div>

      <div class="mySlides fade">

        <img src="{% static 'photos/anime.jpg' %}" style="width: 100%" />
        <div class="text">Critiques help us improve</div>
      </div>

      <div class="mySlides fade">
        <img src="{% static 'photos/mag.jpg' %}" style="width: 100%" />
        <div class="text">Submit projects for reviews</div>
      </div>
    </div>
    <br />

    <div style="text-align: center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% for image in images %}
      <div class="col-s-6 col-md-4">
        <div class="card my-2">
          <img src="{{image.image.url}}" alt="img.." />

          <div
            class="card-body"
            style="font-family: 'Poppins', sans-serif; font-size: larger"
          >
            <a href="{% url 'photo' image.pk  %}" class="btn btn-sm m-2"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-eye"
              >
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                <circle cx="12" cy="12" r="3"></circle></svg
            ></a>

            <a href="{% url 'review' image.pk %}"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-feather"
              >
                <path
                  d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z"
                ></path>
                <line x1="16" y1="8" x2="2" y2="22"></line>
                <line x1="17.5" y1="15" x2="9" y2="15"></line></svg
            ></a>

            <br />
            <span class="line"></span>
            <br />
            <small class="date mt-2">{{image.created|timesince}}</small>
            <br />
            <small>
              <a href="{% url 'profile' %}">
                <span>
                  <img src="{{image.profile.pro_picture.url}}" alt="pro
                  pic"</span
                >
              </a>

              <a href="{% url 'profile' %}">{{image.profile}}</a> |
              <span>{{image.projectname}}</span></small
            >
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
