* {
  margin: 0%;
  padding: 0%;
}

/* home styles */

.content-wrapper {
  border: 3px solid wheat;
  margin-top: 20px;
}
.navbar-brand {
  font-size: 6vh;
  font-family: "Grand Hotel", cursive;
  background: linear-gradient(to right, red, dodgerblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-user {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: larger;
}

#landing-page {
  margin-top: 50px;
}

#landing-page h1 {
  color: black;
  text-align: center;
  padding-top: 10vh;
  font-family: "Grand Hotel";
  font-size: 10vh;
}

.project-title {
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
  /* margin: 50px; */
  font-family: "Monoton", cursive;
}

.content-wrapper img {
  width: 100px;
  height: 100px;
}
.user-name {
  color: white;
}

.title {
  text-align: center;
  font-family: "Grand Hotel", cursive;
  margin-top: 150px;
}

.title h1 {
  font-size: 12vh;
}
.login-text h1 {
  font-family: "Poppins", sans-serif;
}
.signup-text h1 {
  font-family: "Poppins", sans-serif;
}

.card-body img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.card-body .date {
  margin-bottom: 2px;
}

.card-body a {
  text-decoration: none;
  color: black;
}

.line {
  border-bottom: 4px solid;
  display: block;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 5px;
  margin-top: 13px;
  background: linear-gradient(to right, blue, red);
}

/* profile css */

.profile-title {
  text-align: center;
  font-family: "Grand Hotel", cursive;
  margin-top: 100px;
}
.profile-title h2 {
  font-size: 6vh;
}

.profile-card img {
  height: 300px;
  width: 300px;
  margin-top: 20px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.profile-card-info {
  font-family: "Poppins", sans-serif;
}

.profile-card-info h1 {
  font-size: 5vh;
  margin-top: 10px;
}

.profile-card-info p {
  margin-top: 10px;
  font-size: 3vh;
}

.bio {
  font-weight: bold;
  font-size: larger;
}

.profile-details h3 {
  font-family: "Monoton", cursive;
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
}

.update-title h1 {
  text-align: center;
  font-family: "Grand Hotel", cursive;
  margin-top: 150px;
  font-size: 5vh;
}

.submit {
  border: none;
  background: none;
}

.create-container h1 {
  text-align: center;
  font-family: "Grand Hotel", cursive;
  margin-top: 150px;
  font-size: 5vh;
}

.review-class h1 {
  text-align: center;
  font-family: "Grand Hotel", cursive;
  margin-top: 150px;
  font-size: 5vh;
}

.search-title {
  text-align: center;
  font-family: "Grand Hotel", cursive;
  margin-top: 150px;
  font-size: 5vh;
}
.text-search {
  font-size: 3vh;
  font-family: "Poppins", sans-serif;
}

.view-title h1 {
  text-align: center;
  font-family: "Grand Hotel", cursive;
  margin-top: 150px;
  font-size: 5vh;
}
.search-info {
  font-family: "Poppins", sans-serif;
}

.search-info h1 {
  font-weight: bold;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
.dot {
  margin-top: 20px;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 2.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 4.5s;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 15px;
  }
}
.project-title img{
  height: 250px;
  width: 100%;
}

.text{
  font-family: "Poppins", sans-serif;
  font-size: 2vh;
}
